.MainBox {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: #ffffff;
}
::-webkit-scrollbar {
  display: none;
}
.Center {
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  min-width: 60%;
  height: 100%;
  margin: auto;
  background-color: #1a1a1f;
}
.new-chat img {
  border-radius: 50%;
}
.result-container {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 1rem;
}
.Center .navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(32, 30, 30);
}
.Center img {
  max-width: 180px;
}
.Center .logo {
  background-color: #fff;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin: 0 20px;
}

.chat-bottom {
  max-width: 900px;
  padding: 0px 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 15px;
  background-color: #1a1a1f;
}
.search-box {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(54, 52, 52);
  padding: 10px 20px;
  border-radius: 50px;
}
.submit-btn {
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 3px;
}
.search-box img {
  width: 24px;
  cursor: pointer;
  background-color: rgb(54, 52, 52);
}
.search-box input {
  color: #fff;
  caret-color: red;
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
  box-shadow: none !important;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgb(54, 52, 52);
}

.Center .bottom-info {
  font-size: 13px;
  margin: 3px;
  text-align: center;
  font-weight: 300;
  background-color: #1a1a1f;
}
.result {
  overflow-y: scroll;
  padding: 0px 5%;
  background-color: #1a1a1f;
}

.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 0.1rem;
  gap: 20px;
  background-color: black;
}
.result-title div {
  height: 4rem;
  overflow-y: scroll;
  padding: 0.4rem;
}

.result-title div::-webkit-scrollbar {
  display: none;
}

.result img {
  width: 45px;
  border-radius: 50%;
  margin-left: 3px;
}
.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
  border-radius: 20px;
  background-color: #1a1a1f;
  border: 25px black solid;
}
.result-data img {
  width: 4rem;
  height: 4rem;
}
.result-data p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}
@media (max-width: 600px) {
  .main-bottom input {
    flex: none;
    width: 150px;
  }
  .main-bottom img {
    width: 20px;
  }
  .search-box {
    padding: 5px 10px;
  }
  .search-box div {
    gap: 5px;
  }
}
.search-box {
  display: flex;
  align-items: center;
}