.bot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 7px gray;
}
.bot-btn img {
    width: 70px;
}